$main_color: teal;

body {
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: $main_color;
}
h1 {
    font-size: 60px;
    margin: 0px;
    padding: 0px;
}
h3 {
    margin: 0px;
    padding: 0px;
    color: #999;
    color: #fff;
    font-weight: lighter;
}

.btn {
    background-color: #ff4081;
    padding: 20px 15px;
    border: solid 1px #ff4081;
    transition: 0.4s;

    &.active {
        background-color: transparent;
    }
}

.wrapper {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

div.wrap {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;

    div {
        position: relative;
        margin: 50px 0;
    }
}

form label {
    position: absolute;
    top: 0;
    font-size: 30px;
    margin: 10px;
    padding: 0 10px;
    background-color: $main_color;
    font-size: .2s ease-in-out;
    transition: top .2s ease-in-out;

    &.active {
        top: -25px;
        font-size: 20px;
    }
}

input[type=text] {
    width: 100%;
    padding: 20px;
    border: 1px solid white;
    font-size: 20px;
    background-color: $main_color;
    color: white;

    &:focus {outline: none;}
}



#main {height: 100px;}

#meteo {

    .meteo {
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 50px;
    }

    .day {
        font-size: 1.3em;
        text-align: center;
        margin: 50px 0;
    }
}

#tv {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    text-align: center;
    flex-wrap: wrap;

    &>div {
        width: 300px;
        margin-top: 100px;
    }

    .movie, .hour, .picture {
        margin-top: 10px;
    }
}

#tennis {

    .form {
        margin-top: 20px;

        input {
            width: 100px;
        }

        button {
            cursor: pointer;
            transition: 0.4s;
            border: solid 1px #fff;
            background: #fff;
            color: $main_color;
            font-size: 1.3em;
            padding: 10px;
            margin-left: 15px;

            &:hover {
                color: #fff;
                background-color: $main_color;
            }
        }
    }

    .tennis {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 40px 0 0 40px;

        .fiche {
            cursor: pointer;

            h3 {
                display: inline-block;
                margin: 0;
                vertical-align: top;
            }

            .name {
                margin-left: 10px;
            }

            .picture {
                margin: 10px 0;
            }

            &>div {
                display: block;
                text-align: center;
            }
        }
    }

    $width: 800px;
    $height: 600px;

    .popup {
        position: fixed;
        font-family: 'Verdana';
        background-color: #fff;
        top: 50%;
        left: 50%;
        border: solid #000 1px;
        color: #000;
        margin-left: -$width/2;
        margin-top: -$height/2;
        width: $width;
        height: $height;
        padding: 10px;
        box-sizing: border-box;
        z-index: 2;

        &.hidden {
            display: none;
        }

        .head {
            text-align: center;
            margin-bottom: 20px;
        }

        h3 {
            color: #000;
            margin-bottom: 10px;
        }

        h4 {
            color: $main_color;
            font-size: 1.25em;
            margin-bottom: 10px;
            margin-top: 0;
        }

        .lastSaison, .currentSaison {
            display: inline-block;
            vertical-align: top;
            width: 48%;
        }

        .close {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 1.25em;
            cursor: pointer;
        }
    }
}

.btn-config {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

#agenda {

    .agenda {
        width: 700px;
    }

    $elem: 60px;

    .elem {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        margin-top: 10px;
        border: solid 1px #fff;
        padding: 8px;
        width: $elem;
        height: $elem;
        text-align: center;
        // box-sizing: border-box;

        .hour_section {
            position: relative;
            top: 10px;
        }
    }

    .elem_day {
        margin-left: 10px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: $elem + 18px;
    }
}
